## Nume studenti:
- Alexandra Manole
- Teodor Mihaescu

## Grupa: 382

# Data Set 3: Flags
### (Missing values: no)

In [1]:
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer, SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import cross_validate, cross_val_score, GridSearchCV

In [2]:
# Citeste datele
data = pd.read_csv('./Datasets/flag.csv')
data

,Name,Landmass,Zone,Area,Population,Language,Religion,Bars,Stripes,Colours,...,Saltires,Quarters,Sunstars,Crescent,Triangle,Icon,Animate,Text,Topleft,Botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [3]:
# Pregateste datele
X = pd.concat([data[['Area', 'Population', 'Colours']], data.loc[:, 'Red':'Orange']], axis=1)
y = data[['Religion']]

X.index = data['Name']
y.index = data['Name']

X

,Area,Population,Colours,Red,Green,Blue,Gold,White,Black,Orange
Name,,,,,,,,,,
Afghanistan,648,16,5,1,1,0,1,1,1,0
Albania,29,3,3,1,0,0,1,0,1,0
Algeria,2388,20,3,1,1,0,0,1,0,0
American-Samoa,0,0,5,1,0,1,1,1,0,1
Andorra,0,0,3,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
Western-Samoa,3,0,3,1,0,1,0,1,0,0
Yugoslavia,256,22,4,1,0,1,1,1,0,0
Zaire,905,28,4,1,1,0,1,0,0,1
Zambia,753,6,4,1,1,0,0,0,1,1
Zimbabwe,391,8,5,1,1,0,1,1,1,0

In [4]:
# Scaleaza datele
X_columns = X.columns
X_index = X.index

min_max_scaler = preprocessing.MinMaxScaler()
X = pd.DataFrame(min_max_scaler.fit_transform(X), columns=X_columns, index=X_index)

In [5]:
# Separarea setului de date
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, shuffle=True)

In [6]:
# Verifica daca sunt egal distribuite
print(Counter(y_train.iloc[:,0]))
print(Counter(y_test.iloc[:,0]))

Counter({1: 32, 0: 31, 2: 29, 5: 17, 6: 9, 3: 4, 4: 4, 7: 3})
Counter({1: 28, 5: 10, 0: 9, 2: 7, 6: 6, 3: 4, 7: 1})

## Model 1: KNeighborsClassifier

In [7]:
# Model
"""
"""
model1 = KNeighborsClassifier(n_neighbors=5)
model1.fit(X_train, y_train)
y_hat = model1.predict(X_test)

C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

In [8]:
print(f'Predicted:\n{y_hat}\n')
print(f'Ground truth:\n{np.array(y_test.iloc[:, 0])}\n')
print(f'Failed:\t{sum(y_hat != np.array(y_test.iloc[:, 0]))}')

Predicted:
[0 2 1 1 0 2 2 0 2 1 1 1 0 1 1 0 0 0 0 1 0 2 2 1 5 1 2 0 0 0 1 0 0 2 0 5 6
 5 0 0 2 2 2 1 0 1 0 0 1 1 1 1 0 0 1 0 0 1 2 0 0 1 2 0 0]

Ground truth:
[6 5 1 1 5 2 1 1 5 0 1 1 1 3 1 1 1 2 0 1 1 1 2 6 0 1 1 1 1 1 1 5 0 2 6 1 6
 2 2 1 1 0 2 1 1 5 3 6 0 1 5 1 3 5 7 0 6 0 3 5 1 5 5 1 0]

Failed:	45

In [10]:
# Custom scoreers for multiclass output
f1_scorer = metrics.make_scorer(metrics.f1_score, greater_is_better=False, average='micro')
accuracy_scorer = metrics.make_scorer(metrics.accuracy_score, greater_is_better=True)

In [11]:
# Cross Validation
results_train = cross_validate(model1, X, y,
scoring={'accuracy':accuracy_scorer, 'f1':f1_scorer},
return_train_score=True)
results_train

C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\sklearn\model_selection\_split.py:667: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Alexandra\Anaconda3\envs\ids\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

{'fit_time': array([0.01301122, 0.00598431, 0.02352166, 0.00804853, 0.00652099]),
 'score_time': array([0.00925016, 0.0103302 , 0.01198149, 0.00832582, 0.00797772]),
 'test_accuracy': array([0.41025641, 0.43589744, 0.35897436, 0.35897436, 0.31578947]),
 'train_accuracy': array([0.59354839, 0.56774194, 0.56129032, 0.52903226, 0.55128205]),
 'test_f1': array([-0.41025641, -0.43589744, -0.35897436, -0.35897436, -0.31578947]),
 'train_f1': array([-0.59354839, -0.56774194, -0.56129032, -0.52903226, -0.55128205])}

In [497]:
# Cautare hiperparametrii optimi - GridSearch
parameter_grid = {'n_neighbors': list(range(1, 20)), 'p': [1, 2, 3]}
grid_search = GridSearchCV(estimator = KNeighborsClassifier(), param_grid=parameter_grid, scoring='accuracy', cv=4, return_train_score=True)
grid_search.fit(X_train, y_train)
results_gscv = cross_val_score(grid_search, X_test, y_test, scoring='accuracy')

In [498]:
print(results_gscv.mean())
print(grid_search.best_params_)

0.3846153846153847
{'n_neighbors': 13, 'p': 1}

## Model 2: MLP

In [505]:
# Model
"""
Folosim modelul MLP deoarece este o problema de clasificare ce consta in determinarea clasei(religiei) unei tari. O astfel de retea multistrat presupune un strat de intrare care preia valorile initiale, cel putin un strat ascuns, si acel strat de iesire care produce estimari de valori.
"""
model2 = MLPClassifier(activation='logistic', learning_rate='adaptive')
model2.fit(X_train, y_train)
y_hat = model2.predict(X_test)

In [506]:
print(f'Predicted:\n{y_hat}\n')
print(f'Ground truth:\n{np.array(y_test.iloc[:, 0])}\n')
print(f'Failed:\t{sum(y_hat != np.array(y_test.iloc[:, 0]))}')

Predicted:
[1 2 2 2 0 0 1 2 1 2 1 1 2 2 0 1 5 2 2 1 1 2 0 1 0 2 1 2 1 1 2 1 2 0 1 1 1
 1 1 1 2 1 2 2 5 1 2 2 1 2 0 2 0 0 1 2 2 1 5 5 2 1 1 1 1]

Ground truth:
[0 1 2 1 1 1 1 6 1 5 1 5 2 2 6 6 0 0 2 2 1 0 1 1 3 1 1 2 5 1 1 1 1 1 5 5 0
 1 0 0 0 1 0 7 1 0 2 2 1 2 0 0 3 1 3 5 2 1 1 0 1 0 0 0 0]

Failed:	43

In [508]:
# Cross Validation
results_train = cross_validate(model2, X, y,
scoring={'accuracy':accuracy_scorer, 'f1':f1_scorer},
return_train_score=True)
results_train

{'fit_time': array([0.00498629, 0.00296521, 0.00598431, 0.00395775, 0.00299835]),
 'score_time': array([0.00897861, 0.00598168, 0.00401926, 0.00398684, 0.00399256]),
 'test_accuracy': array([0.34615385, 0.34615385, 0.38461538, 0.34615385, 0.32      ]),
 'train_accuracy': array([0.54368932, 0.55339806, 0.48543689, 0.53398058, 0.58653846]),
 'test_f1': array([-0.34615385, -0.34615385, -0.38461538, -0.34615385, -0.32      ]),
 'train_f1': array([-0.54368932, -0.55339806, -0.48543689, -0.53398058, -0.58653846])}

In [511]:
# Cautare hiperparametrii optimi - GridSearch
parameter_grid = {'activation': ['identity'],
'solver': ['sgd'],
'learning_rate': ['constant', 'invscaling', 'adaptive'],
'learning_rate_init': np.linspace(0, 0.5, 10),
'random_state':[0]}
grid_search = GridSearchCV(estimator = MLPClassifier(), param_grid=parameter_grid, scoring='accuracy', cv=4, return_train_score=True)
grid_search.fit(X_train, y_train)
results_gscv = cross_val_score(grid_search, X_test, y_test, scoring='accuracy')

In [512]:
print(results_gscv.mean())
print(grid_search.best_params_)

0.4
{'activation': 'identity', 'alpha': 0.0, 'learning_rate': 'invscaling', 'learning_rate_init': 0.2222222222222222, 'random_state': 0, 'solver': 'sgd'}

## Model 3: LogisticRegression

In [514]:
# Model
"""
"""
model3 = LogisticRegression(multi_class='multinomial', max_iter=1000)
model3.fit(X_train_mat, y_train_col)
y_hat = model3.predict(X_test_mat)

In [515]:
print(f'Predicted:\n{y_hat}\n')
print(f'Ground truth:\n{np.array(y_test.iloc[:, 0])}\n')
print(f'Failed:\t{sum(y_hat != np.array(y_test.iloc[:, 0]))}')

Predicted:
[5 1 2 1 1 2 2 1 1 1 1 1 5 1 1 1 1 1 1 4 1 5 1 2 2 1 6 5 1 1 1 2 1 1 1 2 1
 5 5 5 5 1 1 1 1 1 1 5 1 5 5 1 1 5 1 1 2 2 5 0 1 1 1 1 2]

Ground truth:
[0 1 2 1 1 1 1 6 1 5 1 5 2 2 6 6 0 0 2 2 1 0 1 1 3 1 1 2 5 1 1 1 1 1 5 5 0
 1 0 0 0 1 0 7 1 0 2 2 1 2 0 0 3 1 3 5 2 1 1 0 1 0 0 0 0]

Failed:	46

In [516]:
# Cross Validation
results_train = cross_validate(model3, X, y,
scoring={'accuracy':accuracy_scorer, 'f1':f1_scorer},
return_train_score=True)
results_train

{'fit_time': array([0.03195047, 0.01698995, 0.02194548, 0.01795197, 0.01392269]),
 'score_time': array([0.00495338, 0.00195789, 0.00398612, 0.00199342, 0.00102353]),
 'test_accuracy': array([0.38461538, 0.38461538, 0.42307692, 0.42307692, 0.32      ]),
 'train_accuracy': array([0.45631068, 0.49514563, 0.47572816, 0.51456311, 0.51923077]),
 'test_f1': array([-0.38461538, -0.38461538, -0.42307692, -0.42307692, -0.32      ]),
 'train_f1': array([-0.45631068, -0.49514563, -0.47572816, -0.51456311, -0.51923077])}

In [522]:
# Cautare hiperparametrii optimi - GridSearch
parameter_grid = {
    'C' : np.linspace(0, 100, 10),# C = 1/lambda ; C mare => lambda mic
    'solver': ['sag', 'saga', 'lbfgs']}
grid_search = GridSearchCV(estimator = LogisticRegression(), param_grid=parameter_grid, scoring='accuracy', cv=4, return_train_score=True)
grid_search.fit(X_train, y_train)
results_gscv = cross_val_score(grid_search, X_test, y_test, scoring='accuracy')

In [523]:
print(results_gscv.mean())
print(grid_search.best_params_)

0.476923076923077
{'C': 22.22222222222222, 'solver': 'sag'}

## Model 4: DecisionTreeClassifier

In [524]:
# Model
"""
"""
model4 = DecisionTreeClassifier(max_depth=2)
model4.fit(X_train, y_train)
y_hat = model4.predict(X_test)

In [525]:
print(f'Predicted:\n{y_hat}\n')
print(f'Ground truth:\n{np.array(y_test.iloc[:, 0])}\n')
print(f'Failed:\t{sum(y_hat != np.array(y_test.iloc[:, 0]))}')

Predicted:
[1 1 2 1 0 0 1 0 1 2 1 2 2 2 0 2 1 0 2 1 1 2 1 1 0 2 2 2 2 2 0 2 1 1 2 1 0
 1 1 0 2 1 1 2 1 2 2 2 1 0 1 0 0 1 0 2 2 1 2 1 0 0 1 0 2]

Ground truth:
[0 1 2 1 1 1 1 6 1 5 1 5 2 2 6 6 0 0 2 2 1 0 1 1 3 1 1 2 5 1 1 1 1 1 5 5 0
 1 0 0 0 1 0 7 1 0 2 2 1 2 0 0 3 1 3 5 2 1 1 0 1 0 0 0 0]

Failed:	35

In [526]:
# Cross Validation
results_train = cross_validate(model4, X, y,
scoring={'accuracy':accuracy_scorer, 'f1':f1_scorer},
return_train_score=True)
results_train

{'fit_time': array([0.00637364, 0.00498581, 0.00202227, 0.00499034, 0.00301147]),
 'score_time': array([0.0095818 , 0.00299168, 0.00295639, 0.00201178, 0.00397086]),
 'test_accuracy': array([0.38461538, 0.30769231, 0.34615385, 0.38461538, 0.36      ]),
 'train_accuracy': array([0.41747573, 0.41747573, 0.41747573, 0.40776699, 0.41346154]),
 'test_f1': array([-0.38461538, -0.30769231, -0.34615385, -0.38461538, -0.36      ]),
 'train_f1': array([-0.41747573, -0.41747573, -0.41747573, -0.40776699, -0.41346154])}

In [534]:
# Cautare hiperparametrii optimi - GridSearch
parameter_grid = {'max_depth': list(range(1,5)),
'min_samples_split': np.linspace(1,3,5),
'min_samples_leaf': np.linspace(0.1,0.5,5),
'max_features': ['sqrt', 'log2', None]}
grid_search = GridSearchCV(estimator = DecisionTreeClassifier(), param_grid=parameter_grid, scoring='accuracy', cv=4, return_train_score=True)
grid_search.fit(X_train, y_train)
results_gscv = cross_val_score(grid_search, X_test, y_test, scoring='accuracy')

In [535]:
print(results_gscv.mean())
print(grid_search.best_params_)

0.3538461538461538
{'criterion': 'gini', 'max_depth': 3, 'max_features': 'log2', 'min_samples_leaf': 0.2, 'min_samples_split': 1.0}

## Model 5: RandomForestClassifier

In [530]:
# Model
"""
"""
model5 = RandomForestClassifier(max_depth=2, random_state=0, ccp_alpha=0.2)
model5.fit(X_train, y_train)
y_hat = model5.predict(X_test)

In [531]:
print(f'Predicted:\n{y_hat}\n')
print(f'Ground truth:\n{np.array(y_test.iloc[:, 0])}\n')
print(f'Failed:\t{sum(y_hat != np.array(y_test.iloc[:, 0]))}')

Predicted:
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

Ground truth:
[0 1 2 1 1 1 1 6 1 5 1 5 2 2 6 6 0 0 2 2 1 0 1 1 3 1 1 2 5 1 1 1 1 1 5 5 0
 1 0 0 0 1 0 7 1 0 2 2 1 2 0 0 3 1 3 5 2 1 1 0 1 0 0 0 0]

Failed:	40

In [532]:
# Cross Validation
results_train = cross_validate(model5, X, y,
scoring={'accuracy':accuracy_scorer, 'f1':f1_scorer},
return_train_score=True)
results_train

{'fit_time': array([0.18290925, 0.15259767, 0.18151712, 0.28899121, 0.22182727]),
 'score_time': array([0.01296735, 0.01400352, 0.01795268, 0.02594137, 0.01193666]),
 'test_accuracy': array([0.26923077, 0.26923077, 0.26923077, 0.26923077, 0.28      ]),
 'train_accuracy': array([0.27184466, 0.27184466, 0.27184466, 0.27184466, 0.26923077]),
 'test_f1': array([-0.26923077, -0.26923077, -0.26923077, -0.26923077, -0.28      ]),
 'train_f1': array([-0.27184466, -0.27184466, -0.27184466, -0.27184466, -0.26923077])}

In [536]:
# Cautare hiperparametrii optimi - GridSearch
parameter_grid = {'max_depth': list(range(5,10)),
'min_samples_split': list(range(1,4)),
'min_samples_leaf': list(range(1,5))}
grid_search = GridSearchCV(estimator = RandomForestClassifier(), param_grid=parameter_grid, scoring='accuracy', cv=4, return_train_score=True)
grid_search.fit(X_train, y_train)
results_gscv = cross_val_score(grid_search, X_test, y_test, scoring='accuracy')

In [537]:
print(results_gscv.mean())
print(grid_search.best_params_)

0.4461538461538462
{'max_depth': 7, 'min_samples_leaf': 4, 'min_samples_split': 3}