## Nume studenti:
- Alexandra Manole
- Teodor Mihaescu

## Grupa: 382

# Data Information

In [56]:
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [57]:
data1 = pd.read_csv('./Datasets/breast-cancer.csv')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Class       286 non-null    object
 1   Age         286 non-null    object
 2   Menopause   286 non-null    object
 3   TumorSize   286 non-null    object
 4   InvNodes    286 non-null    object
 5   NodeCaps    278 non-null    object
 6   DegMalig    286 non-null    int64
 7   Breast      286 non-null    object
 8   BreastQuad  285 non-null    object
 9   Irradiat    286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

In [58]:
data1

,Class,Age,Menopause,TumorSize,InvNodes,NodeCaps,DegMalig,Breast,BreastQuad,Irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [59]:
data2 = pd.read_csv('./Datasets/energy.csv').iloc[:768,:-2]
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      768 non-null    float64
 1   X2      768 non-null    float64
 2   X3      768 non-null    float64
 3   X4      768 non-null    float64
 4   X5      768 non-null    float64
 5   X6      768 non-null    float64
 6   X7      768 non-null    float64
 7   X8      768 non-null    float64
 8   Y1      768 non-null    float64
 9   Y2      768 non-null    float64
dtypes: float64(10)
memory usage: 60.1 KB

In [60]:
data2

       X1     X2     X3      X4   X5   X6   X7   X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0  4.0  0.0  0.0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0  5.0  0.0  0.0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0  2.0  0.0  0.0  20.84  28.28
..    ...    ...    ...     ...  ...  ...  ...  ...    ...    ...
763  0.64  784.0  343.0  220.50  3.5  5.0  0.4  5.0  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5  2.0  0.4  5.0  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5  3.0  0.4  5.0  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5  4.0  0.4  5.0  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5  5.0  0.4  5.0  16.64  16.03

[768 rows x 10 columns]

In [61]:
data3 = pd.read_csv('./Datasets/flag.csv')
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        194 non-null    object
 1   Landmass    194 non-null    int64
 2   Zone        194 non-null    int64
 3   Area        194 non-null    int64
 4   Population  194 non-null    int64
 5   Language    194 non-null    int64
 6   Religion    194 non-null    int64
 7   Bars        194 non-null    int64
 8   Stripes     194 non-null    int64
 9   Colours     194 non-null    int64
 10  Red         194 non-null    int64
 11  Green       194 non-null    int64
 12  Blue        194 non-null    int64
 13  Gold        194 non-null    int64
 14  White       194 non-null    int64
 15  Black       194 non-null    int64
 16  Orange      194 non-null    int64
 17  Mainhue     194 non-null    object
 18  Circles     194 non-null    int64
 19  Crosses     194 non-null    int64
 20  Saltires    194 non-null    int64
 21  Quarters    194 non-null    int64
 22  Sunstars    194 non-null    int64
 23  Crescent    194 non-null    int64
 24  Triangle    194 non-null    int64
 25  Icon        194 non-null    int64
 26  Animate     194 non-null    int64
 27  Text        194 non-null    int64
 28  Topleft     194 non-null    object
 29  Botright    194 non-null    object
dtypes: int64(26), object(4)
memory usage: 45.6+ KB

In [62]:
data3.iloc[:100,:]

,Name,Landmass,Zone,Area,Population,Language,Religion,Bars,Stripes,Colours,...,Saltires,Quarters,Sunstars,Crescent,Triangle,Icon,Animate,Text,Topleft,Botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Kuwait,5,1,18,2,8,2,0,3,4,...,0,0,0,0,0,0,0,0,green,red
96,Laos,5,1,236,3,10,6,0,3,3,...,0,0,0,0,0,0,0,0,red,red
97,Lebanon,5,1,10,3,8,2,0,2,4,...,0,0,0,0,0,0,1,0,red,red
98,Lesotho,4,2,30,1,10,5,2,0,4,...,0,0,0,0,0,1,0,0,green,blue
99,Liberia,4,4,111,1,10,5,0,11,3,...,0,1,1,0,0,0,0,0,blue,red

In [63]:
data4 = pd.read_csv('./Datasets/adult.csv')
data4.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 32561 entries, (39, 'State-gov') to (52, 'Self-emp-inc')
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            32561 non-null  int64
 1   Workclass      32561 non-null  object
 2   Fnlwgt         32561 non-null  int64
 3   Education      32561 non-null  object
 4   MaritalStatus  30718 non-null  object
 5   Occupation     32561 non-null  object
 6   Relationship   32561 non-null  object
 7   Race           32561 non-null  object
 8   Sex            32561 non-null  int64
 9   CapitalGain    32561 non-null  int64
 10  CapitalLoss    32561 non-null  int64
 11  HoursPerWeek   31978 non-null  object
 12  NativeCountry  32561 non-null  object
dtypes: int64(5), object(8)
memory usage: 3.3+ MB

In [64]:
data4.iloc[14]

Age                          121772
Workclass                 Assoc-voc
Fnlwgt                           11
Education        Married-civ-spouse
MaritalStatus          Craft-repair
Occupation                  Husband
Relationship     Asian-Pac-Islander
Race                           Male
Sex                               0
CapitalGain                       0
CapitalLoss                      40
HoursPerWeek                    NaN
NativeCountry                  >50K
Name: (40, Private), dtype: object