## Nume studenti:
- Alexandra Manole
- Teodor Mihaescu

## Grupa: 382

# Data Set 3: Flags
### (Missing values: no)

In [55]:
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer, SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import cross_validate, cross_val_score, GridSearchCV

In [56]:
# Citeste datele
data = pd.read_csv('./Datasets/flag.csv')
data

,Name,Landmass,Zone,Area,Population,Language,Religion,Bars,Stripes,Colours,...,Saltires,Quarters,Sunstars,Crescent,Triangle,Icon,Animate,Text,Topleft,Botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [76]:
# Pregateste datele
#X = data[['Colours','Area']]
X = data.loc[:,'Area':'Language']
y = data.loc[:,'Religion']
X

     Area  Population  Language
0     648          16        10
1      29           3         6
2    2388          20         8
3       0           0         1
4       0           0         6
..    ...         ...       ...
189     3           0         1
190   256          22         6
191   905          28        10
192   753           6        10
193   391           8        10

[194 rows x 3 columns]

In [77]:
# Scaleaza datele
#min_max_scaler = preprocessing.MinMaxScaler()
#X = min_max_scaler.fit_transform(X)

In [78]:
# Separarea setului de date
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, shuffle=True)

In [79]:
# Convert to numpy arrays
X_train_mat = X_train.to_numpy()
X_test_mat = X_test.to_numpy()
y_train_col = y_train.to_numpy()
y_test_col = y_test.to_numpy()

In [80]:
# Verifica daca sunt egal distribuite
print(Counter(y_train_col))
print(Counter(y_test_col))

Counter({1: 41, 2: 24, 0: 23, 5: 17, 6: 10, 3: 8, 4: 3, 7: 3})
Counter({1: 19, 0: 17, 2: 12, 5: 10, 6: 5, 7: 1, 4: 1})

## Model 1: KNeighborsClassifier

In [91]:
# Model
"""
"""
model1 = KNeighborsClassifier(n_neighbors=3)
model1.fit(X_train, y_train)
y_hat = model1.predict(X_test)

In [92]:
print(f'Predicted:\n{y_hat}\n')
print(f'Ground truth:\n{y_test[:10]}\n')
print(f'Failed:\t{sum(y_hat != y_test)}')

Predicted:
[1 1 0 0 5 6 2 5 5 1 1 1 0 1 5 2 1 5 1 2 0 1 1 1 1 5 1 0 1 0 1 1 0 2 0 5 1
 1 0 5 0 1 0 0 6 0 0 1 0 0 5 0 2 0 0 1 2 0 0 0 5 1 0 1 0]

Ground truth:
189    1
39     2
89     1
11     0
53     5
68     1
139    0
123    1
98     5
7      1
Name: Religion, dtype: int64

Failed:	38

In [96]:
# CV Train
results_train = cross_validate(model1, X_train_mat, y_train_col, scoring=['accuracy','f1'], average='micro', return_train_score=True)
results_train

TypeError: cross_validate() got an unexpected keyword argument 'average'

In [98]:
# CV Test
results_test = cross_validate(model1, X_test_mat, y_test_col, scoring=['accuracy','f1'], average='micro', return_train_score=True)
results_test

TypeError: cross_validate() got an unexpected keyword argument 'average'

In [1]:
# Cautare hiperparametrii optimi - GridSearch
#parameter_grid = {'n_neighbors': list(range(1, 20)), 'p': [1, 2, 3]}
#grid_search = GridSearchCV(estimator = KNeighborsClassifier(), param_grid=parameter_grid, scoring='accuracy', cv=4, return_train_score=True)
#grid_search.fit(X_train_mat, y_train_col)
#results_gscv = cross_val_score(grid_search, X_test_mat, y_test_col, scoring='accuracy')

In [ ]:
#print(results_gscv.mean())
#print(grid_search.best_params_)