## Nume studenti:
- Alexandra Manole
- Teodor Mihaescu

## Grupa: 382

In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('./Datasets/absenteeism.csv', sep = ';')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    float64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

In [21]:
data = pd.read_csv('./Datasets/energy.csv').iloc[:,:-2]
data

        X1     X2     X3      X4   X5   X6   X7   X8     Y1     Y2
0     0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55  21.33
1     0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55  21.33
2     0.98  514.5  294.0  110.25  7.0  4.0  0.0  0.0  15.55  21.33
3     0.98  514.5  294.0  110.25  7.0  5.0  0.0  0.0  15.55  21.33
4     0.90  563.5  318.5  122.50  7.0  2.0  0.0  0.0  20.84  28.28
...    ...    ...    ...     ...  ...  ...  ...  ...    ...    ...
1291   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1292   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1293   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1294   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN
1295   NaN    NaN    NaN     NaN  NaN  NaN  NaN  NaN    NaN    NaN

[1296 rows x 10 columns]