# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. (optional) Afisati primele 5 linii din tabel
    1. (optional) Care este numarul de inregistrari din DataFrame?
    1. (optional) Comparati iesirea metodelor `info()` si `describe()`.
    1. (optional) Care e numarul de coloane? afisati numele lor.
    1. (0.5 puncte) Cum e indexat setul de date? sunt valorile din index unice?
    1. (0.5 puncte) Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. (0.5 puncte) Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. (0.5 puncte) Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. (0.5 puncte) Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) e utila pentru intelegerea agregarilor.
    1. (0.5 puncte) De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. (0.5 puncte) De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. (0.5 puncte) Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. (optional) Cate echipe au participat la Euro 2012?
    1. (optional) Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. (0.5 puncte) Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. (0.5 puncte) Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. (obligatoriu, 0 puncte) Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. (0.5 puncte) Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. (0.5 puncte) Pe care continent se bea mai multa bere, in medie?
    1. (0.5 puncte) Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. (0.5 puncte) Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

In [33]:
import pandas as pd
import numpy as np

In [34]:
#1
df =pd.read_csv('Data.tsv', sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [35]:
#1A
df[:5]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [36]:
#1B
len(df.index)

4622

In [37]:
#1C
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [38]:
#1D
print(len(df.columns))
df.columns

5

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [39]:
#1E
df.iloc[4]

order_id                                                              2
quantity                                                              2
item_name                                                  Chicken Bowl
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price                                                      $16.98
Name: 4, dtype: object

In [40]:
df.loc[4]
#Valorile sunt indexate dupa numarul comenzii, iar valorile din index nu sunt unice deoarece
#doi cumparatori pot plasa aceeasi comanda.

order_id                                                              2
quantity                                                              2
item_name                                                  Chicken Bowl
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price                                                      $16.98
Name: 4, dtype: object

In [41]:
#1F
print(set(sorted(df['item_name'])))
print(len(set(sorted(df['item_name']))))

{'Veggie Soft Tacos', 'Canned Soda', 'Steak Burrito', 'Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa', 'Chicken Salad', 'Steak Soft Tacos', '6 Pack Soft Drink', 'Chicken Bowl', 'Nantucket Nectar', 'Steak Bowl', 'Chips and Guacamole', 'Carnitas Burrito', 'Chips and Tomatillo-Red Chili Salsa', 'Barbacoa Crispy Tacos', 'Chicken Salad Bowl', 'Carnitas Salad', 'Barbacoa Soft Tacos', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Steak Crispy Tacos', 'Salad', 'Bowl', 'Bottled Water', 'Burrito', 'Barbacoa Salad Bowl', 'Chicken Soft Tacos', 'Chips and Mild Fresh Tomato Salsa', 'Veggie Burrito', 'Veggie Salad', 'Chicken Burrito', 'Side of Chips', 'Canned Soft Drink', 'Steak Salad Bowl', 'Veggie Crispy Tacos', 'Barbacoa Burrito', 'Chips and Fresh Tomato Salsa', 'Veggie Bowl', 'Chips and Roasted Chili Corn Salsa', 'Carnitas Crispy Tacos', 'Barbacoa Bowl', 'Veggie Salad Bowl', 'Carnitas Bowl', 'Izze', 'Chicken Crispy Tacos', 'Chips and Tomatillo-Green Chili Salsa', 'Chips and Roasted Chili-Corn Salsa', 'Chips', 'Steak Salad', 'Chips and Tomatillo Green Chili Salsa'}
50

In [42]:
#1G
np.sum(df['quantity'])

4972

In [45]:
#1H
df2=df
df2['item_price']=pd.DataFrame(df['item_price'].replace('[$]','',regex=True)).astype(float)
df2
#....

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [47]:
#1I
df3=df2.groupby('item_name')['quantity'].sum()
df3=df3.sort_values(ascending=False)
count=0
for key,item in df3.iteritems():
    if count<3:
        print(key,item)
        count+=1

Carnitas Salad 1
Veggie Crispy Tacos 1
Chips and Mild Fresh Tomato Salsa 1

In [48]:
#1J
df3=df2.groupby('item_name')['order_id'].count()
df3['Veggie Salad Bowl']

18

In [49]:
#1K
df3=df2.groupby('item_name')
print(sum(df3.get_group('Canned Soda')['quantity']>1))

20

In [52]:
#1L
df2['sume incasate']=pd.DataFrame(df2['quantity']*df2['item_price']).astype(float)
df2.groupby(['order_id'])['sume incasate'].sum()

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: sume incasate, Length: 1834, dtype: float64

**Precizari**:
* Se acorda 3 puncte din oficiu.
* Predarea se va face in saptamana 23-27 martie 2020.
* Temele se pot lucra in echipe de cate 2 studenti. Tema se va depune in lucrarea de pe site=ul de elearning