# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. (optional) Afisati primele 5 linii din tabel
    1. (optional) Care este numarul de inregistrari din DataFrame?
    1. (optional) Comparati iesirea metodelor `info()` si `describe()`.
    1. (optional) Care e numarul de coloane? afisati numele lor.
    1. (0.5 puncte) Cum e indexat setul de date? sunt valorile din index unice?
    1. (0.5 puncte) Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. (0.5 puncte) Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. (0.5 puncte) Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. (0.5 puncte) Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) e utila pentru intelegerea agregarilor.
    1. (0.5 puncte) De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. (0.5 puncte) De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. (0.5 puncte) Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. (optional) Cate echipe au participat la Euro 2012?
    1. (optional) Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. (0.5 puncte) Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. (0.5 puncte) Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. (obligatoriu, 0 puncte) Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. (0.5 puncte) Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. (0.5 puncte) Pe care continent se bea mai multa bere, in medie?
    1. (0.5 puncte) Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. (0.5 puncte) Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

In [66]:
import pandas as pd
import numpy as np

In [67]:
#1
df =pd.read_csv('Data.tsv', sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [68]:
#1A
df[:5]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [69]:
#1B
len(df.index)

4622

In [70]:
#1C
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [71]:
#1D
print(len(df.columns))
df.columns

5

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [72]:
#1E
df.iloc[4]

order_id                                                              2
quantity                                                              2
item_name                                                  Chicken Bowl
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price                                                      $16.98
Name: 4, dtype: object

In [73]:
df.loc[4]
#Valorile sunt indexate dupa numarul comenzii, iar valorile din index nu sunt unice deoarece
#doi cumparatori pot plasa aceeasi comanda.

order_id                                                              2
quantity                                                              2
item_name                                                  Chicken Bowl
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price                                                      $16.98
Name: 4, dtype: object

In [74]:
#1F
print(set(sorted(df['item_name'])))
print(len(set(sorted(df['item_name']))))

{'Barbacoa Crispy Tacos', 'Steak Bowl', 'Chicken Salad', 'Chips and Fresh Tomato Salsa', 'Nantucket Nectar', 'Steak Soft Tacos', 'Barbacoa Burrito', 'Barbacoa Soft Tacos', 'Carnitas Soft Tacos', 'Chicken Soft Tacos', 'Burrito', 'Steak Salad', 'Salad', 'Carnitas Salad Bowl', 'Chips and Tomatillo-Green Chili Salsa', 'Veggie Salad Bowl', 'Chips', 'Chicken Salad Bowl', 'Canned Soft Drink', 'Chicken Crispy Tacos', 'Barbacoa Bowl', 'Steak Burrito', 'Veggie Burrito', 'Veggie Salad', 'Chicken Burrito', 'Chips and Roasted Chili Corn Salsa', 'Veggie Bowl', 'Chicken Bowl', '6 Pack Soft Drink', 'Chips and Mild Fresh Tomato Salsa', 'Chips and Tomatillo Red Chili Salsa', 'Izze', 'Chips and Tomatillo Green Chili Salsa', 'Side of Chips', 'Chips and Guacamole', 'Carnitas Salad', 'Crispy Tacos', 'Bowl', 'Carnitas Burrito', 'Bottled Water', 'Steak Salad Bowl', 'Veggie Crispy Tacos', 'Barbacoa Salad Bowl', 'Veggie Soft Tacos', 'Carnitas Bowl', 'Steak Crispy Tacos', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Canned Soda', 'Carnitas Crispy Tacos'}
50

In [75]:
#1G
np.sum(df['quantity'])

4972

In [76]:
#1H
df2=df
df2['item_price']=pd.DataFrame(df['item_price'].replace('[$]','',regex=True)).astype(float)
df2
#df3=df2.groupby(['item_price'])['Chicken Crispy Tacos'].agg([min,max,sum/len(dr2),np.median])
#....

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [77]:
#1I
df3=df2.groupby('item_name')['quantity'].sum()
df3=df3.sort_values(ascending=False)
count=0
for key,item in df3.iteritems():
    if count<3:
        print(key,item)
        count+=1

Chicken Bowl 761
Chicken Burrito 591
Chips and Guacamole 506

In [78]:
#1J
df3=df2.groupby('item_name')['order_id'].count()
df3['Veggie Salad Bowl']

18

In [79]:
#1K
df3=df2.groupby('item_name')
print(sum(df3.get_group('Canned Soda')['quantity']>1))

20

In [80]:
#1L
df2['sume incasate']=pd.DataFrame(df2['quantity']*df2['item_price']).astype(float)
df2.groupby(['order_id'])['sume incasate'].sum()

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: sume incasate, Length: 1834, dtype: float64

In [81]:
#2
fb=pd.read_csv('Fotbal.csv', sep=',')
fb

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [82]:
#2A
len(fb)

16

In [83]:
#2B
fb2=fb.sort_values(['Red Cards', 'Yellow Cards'], ascending=[True,False])
fb2

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

In [84]:
#2C
print(f"Numarul mediu de cartonase rosii {fb['Red Cards'].sum()/len(fb)}")
print(f"Mediana de cartonase rosii {fb['Red Cards'].median()}")

Numarul mediu de cartonase rosii 0.1875
Mediana de cartonase rosii 0.0

In [85]:
#2D
fb[fb["Red Cards"]>fb['Red Cards'].sum()/len(fb)]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

In [86]:
#2E
fb[fb['Team'].str[0]=='G']

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [87]:
#2F
print(fb[fb['Team']=='England']['Shooting Accuracy'])
print(fb[fb['Team']=='Greece']['Shooting Accuracy'])
print(fb[fb['Team']=='Russia']['Shooting Accuracy'])

3    50.0%
Name: Shooting Accuracy, dtype: object
6    30.7%
Name: Shooting Accuracy, dtype: object
12    22.5%
Name: Shooting Accuracy, dtype: object

In [88]:
#3
dr=pd.read_csv('Drinks.csv', sep=',')
dr

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [89]:
#3A
dr2=dr.groupby(['continent'])['beer_servings'].sum()
print(f"Medie de consumatie de bere {dr2.sum()/len(dr2)}")
dr2[dr2>dr2.sum()/len(dr2)]

Medie de consumatie de bere 3428.8

continent
EU    8720
Name: beer_servings, dtype: int64

In [90]:
#3B
dr2=dr.groupby(['continent'])['wine_servings'].sum()
dr2

continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

In [91]:
#3C
dr2=dr.groupby(['continent'])['beer_servings'].agg([min,max,np.mean])
dr2

           min  max        mean
continent
AF           0  376   61.471698
AS           0  247   37.045455
EU           0  361  193.777778
OC           0  306   89.687500
SA          93  333  175.083333

**Precizari**:
* Se acorda 3 puncte din oficiu.
* Predarea se va face in saptamana 23-27 martie 2020.
* Temele se pot lucra in echipe de cate 2 studenti. Tema se va depune in lucrarea de pe site=ul de elearning